/* You can add global styles to this file, and also import other style files */
#loginPage {
    max-width : 600px;
    min-width: 300px;
    padding: 15px;
    background-color : #eee;
    border-radius: .5em;

    width: 50%;
    margin: auto;
}
#todoPage{
    text-align: center;
}
.nav-item{
    margin: 5px;
}
#searchbar{
    display: inline-block;
    text-align: right;
    margin-bottom: 13px;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}