<div id="watchedPage">
    <table id="watchedTable" class="table table-striped">
        <thead>
            <tr>
                <th id="listHeader" colspan="5">Already Watched List</th>
            </tr>
            <tr class="table-active">
                <th scope="col">Title</th>
                <th scope="col" colspan="3">Date Seen</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let movie of watchedMovies$ | async" id="movieDisplay">
                <td>{{ movie.title }}</td>
                <td>{{ movie.watchDate | date:'mediumDate'}}</td>
                <td class="btn-container">
                    <button
                        class="btn listBtns"
                        (click)="rewatch(movie)"
                        >Rewatch</button>
                    <button
                        class="btn listBtns"
                        (click)="seeDetails(movie)"
                        >See Details</button>
                    <button
                        class="btn listBtns"
                        (click)="removeWatched(movie)"
                        >Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="sortBox">
        <p id="sortTitle">Sort By: </p>
        <button type="button" class="sortBtn" (click)="filterBy('title')">Title</button>
        <button type="button" class="sortBtn" (click)="filterBy('date')">Date</button>
    </div>
</div>