<div id="todoPage" >
    <div id="search-container">
        <input id="searchBar" 
            type="text"
            [(ngModel)]="searchInput" 
            (input)="onInputChange()"
            (keyup.enter)="onEnter()"
            (keyup.arrowDown)="onArrowDown()"
            (keyup.arrowUp)="onArrowUp()"
            (keyup.escape)="onEscape()"
            placeholder="Search movies..."
        >
        <button id="searchBtn" (click)="addWant()">Add Movie</button>            
    </div>

    <div *ngIf="showDropdown" class="dropdown">
        <ul class="dropdown-list">
            <li 
                *ngFor="let result of searchResults.slice(0,8); let i = index"
                (click)="selectResult(result)"
                [class.highlighted]="i === highlightedIndex"
                (mouseenter)="highlightedIndex = i"
                class="dropdown-item"
                >
                <div class="poster-container">
                    <img 
                        *ngIf="result.posterUrl"
                        [src]="result.posterUrl"
                        alt="Movie Poster"
                        class="poster-thumbnail"
                    >
                    <div *ngIf="!result.posterUrl" class="poster-placeholder">
                        No Image 
                    </div>
                </div>
                <div class="movie-title">{{  result.title  }}</div>
                
            </li>
        </ul>
    </div>

    <table id="todoTable" class="table table-striped" >
        <thead>
            <tr>
                <th id="listHeader" colspan="4">Want to Watch List</th>
            </tr>
            <tr class="table-active">
                <th></th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of wantMovies$ | async">
                <td><img 
                    [src]="movie.posterUrl"
                    alt="Movie Poster"
                    class="listPic"
                    >
                </td>
                <td>{{ movie.title }}</td>
                <td class="btn-container">
                    <button
                        class="btn listBtns"
                        (click)="addWatched(movie)"
                        >Add Watched</button>
                    <button
                        class="btn listBtns"
                        (click)="seeDetails(movie)"
                        >See Details</button>
                    <button
                        class="btn listBtns"
                        (click)="removeWant(movie)"
                        >Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>