<div id="settingsPage">
    <table id="settingsTable" class="table table-striped">
        <thead>
            <tr class="table-active">
                <th>Username</th>
                <th>Enable/Disable</th>
                <td></td>
            </tr>
        </thead>
        <tbody id="settingsRows">
            <tr *ngFor="let user of users">
                <td>{{ user.userName }}</td>
                <td><button (click)="!user.admin && disableUser(user._id, !user.disabled)" class="btn"
                    [class.btn-admin]="user.admin"
                    [class.btn-enabled]="!user.admin && !user.disabled"
                    [class.btn-disabled]="!user.admin && user.disabled">
                    {{ user.admin ? 'Admin' : user.disabled? 'Disabled' : 'Enabled' }}
                </button><td>
            </tr>
        </tbody>
    </table>
</div>