#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}
.formBox{
    padding: 15px;
    max-width : 600px;
    min-width: 300px;
    border-radius: .5em;
    width: 50%;
    background-color : #eee;
    margin-bottom: 30px;
}