<div class="detailsPage" *ngIf="movie">
    <div class="titleBox">
        <h2 class="Dtitle">{{ movie.title }}</h2>
    </div>
    <div class="descriptionBox">
        <h5>{{ movie.description }}</h5>
    </div>
    <div class="datesContainer">
        <div class="releasedBox">
            <H4>Released on</H4>
            <h5>{{ movie.released }}</h5>
        </div>
        <div class="watchedBox">
            <h4>Watched on</h4>
            <h5>{{ movie.watchDate ? (movie.watchDate | date: 'mediumDate') : 'Not seen yet' }}</h5>
        </div>
    </div>
    <div class="posterBox">
        <img class="moviePoster" [src]="movie.posterUrl">
    </div>
</div>